<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
    
    <head th:include="common/head :: head" th:with="title='Home'"></head>
    
	<body>
		<div class="container">
			<header th:include="common/header :: header"></header>
				
				<p th:text="#{home.welcome}"></p>
				
				<div sec:authorize="hasRole('ROLE_USER')">
					<span th:text="${'Logged in as ' + #authentication.principal.username}"></span>
				</div>
				<a sec:authorize="${not hasRole('ROLE_USER')}" th:href="@{/signin}">Signin</a>
				<form sec:authorize="hasRole('ROLE_USER')" th:action="@{/logout}" method="POST">
					<input type="submit" value="Log Out" />
				</form>
				
				<h3>Ideas: </h3>
				
				<div class="masonry_container">
					<p th:each="idea : ${ideas}" th:with="categories=${idea.categories}" th:class="${categories[0].name}">
						<a th:href="@{/(idea=${idea.uuid})}" th:text="${idea.uuid}"></a>
						<span th:text="${idea.body}"></span>
						
						<div th:each="category : ${categories}" th:remove="tag">
							<span th:text="${category.name}"></span>
						</div>
					</p>
				</div>
	
			<footer th:include="common/footer :: footer" ></footer> 
			
			<script type="text/javascript">
				$(document).ready(function(){
					$('.masonry_container').masonry();
				});
			</script>
		</div>
	</body>
</html>




