<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
    
    <head th:include="common/head :: head" th:with="title='Home'"></head>
    
	<body>
		<div class="container">
			<header th:include="common/header :: header"></header>
				<form id="forgotPasswordForm" th:action="@{/forgotPassword}" method="POST" th:object="${forgotPasswordForm}">                                
		            <!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}" /> -->
		            
		            <fieldset>
		            	<label for="email">Email: <span th:if="${#fields.hasErrors('email')}" class="error" th:text="${#fields.errors('email')[0]}"></span></label>
		                <input type="text" th:field="*{email}" />
		           	</fieldset>
		            <p><button type="submit">Submit</button></p>
		     	</form>
			<footer th:include="common/footer :: footer" ></footer> 
		</div>
	</body>
</html>




